$white: #fff
$black: #111
$dark-grey: #669bbc
$background: #F2DFCE
$font: 'Source Serif Pro', 'serif'
$header_font: 'Helvetica', 'sans serif'
$body-size: 16px
$body-text: $black
$adjust-size: 1

$links: #d58936
$links-hover: $dark-grey

$code-block: #000004


#fff8f0